<div class="mb-3">
<%= simple_form_for(character) do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :univers %>
  <%= f.input :price %>
  <%= f.input :skills %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Submit", class: "btn-ghost btn-ghost:hover" %>
  
<% end %>
</div>
