<div class="banner">
  <div class="container">
    <h1 class="fs-1 mb-3">MythicMates</h1>
    <div class="d-flex flex-column align-items-center">
      <p class="mb-5">Who do you feel like today?</p>
      <a class="btn btn-ghost mt-5" href="/#:~:text=Browse-,Browse,-by%20character">Browse</a>
    </div>
  </div>
</div>

<div>
  <%= render 'form_filters', characters: @characters %>
</div>

<div class="content">
  <div class="cards-container">
    <h4 class="centered">Browse by character</h4>
    <ul>
      <% @characters.each do |character| %>
        <li class="card">
          <%= link_to character_path(character), class: 'card-link' do %>
            <div class="card">
                <% if character.photo.attached? %>
                  <%= cl_image_tag character.photo.key, alt: "text" %>
                <% else %>
                    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="<%= character[:name] %>">
                <% end %>
                <div class="card-info">
                    <h3><%= character.name %></h3>
                    <p><%= character.location %></p>
                    <p class="price"><%= character.price %>$/day</p>
                </div>
            </div>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="map-container">
    <h4 class="centered">Browse by location</h4>
    <div class="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
