<h1>Who do you feel like today?</h1>
<div>
    <ul>
        <% @characters.each do |character| %>
            <li class="card">
                <%= link_to character_path(character), class: 'card-link' do %>
                    <div class="card">
                        <img src="<% character.photo_url %>" alt="<%= character.name %>">
                        <div class="card-info">
                            <h3><%= character.name %></h3>
                            <p><%= character.location %></p>
                            <p class="price"><%= character.price %>$/day</p>
                        </div>
                    </div>
                <% end %>
            </li>
        <% end %>
    </ul>
</div>
