<div class="banner">
  <div class="container">
    <h1 class="fs-1 mb-3">MythicMates</h1>
    <div class="d-flex flex-column align-items-center">
      <p class="mb-5">Who do you feel like today?</p>
      <a href="#browse" class="btn btn-ghost mt-5" >Browse</a>
    </div>
  </div>
</div>

<div class="mx-5 mt-5 mb-3" id="browse">
  <%= render 'form_filters', characters: @characters %>
</div>

<%# <div class="mx-auto d-flex">
<label for="Price" class="form-label pe-3">Price</label>
<input type="range" class="form-range" min="0" max="5" id="priceSelect">
</div> %>

<div class="d-flex justify-content-end mb-3">
  <p class="me-3">Filters : </p>
  <%= link_to "Best reviews", characters_path(r_asc: true), class: "btn btn-sm btn-light me-3" %>
  <%= link_to "Worst reviews", characters_path(r_desc: true), class: "btn btn-sm btn-light me-5"%>
  <%= link_to "Ascending prices", characters_path(asc: true), class: "btn btn-sm btn-light me-3" %>
  <%= link_to "Descending prices", characters_path(desc: true), class: "btn btn-sm btn-light me-5"%>
</div>

<div class="content">
  <div class="cards-container">
      <% if @characters.any? %>
    <ul>
        <% @characters.each do |character| %>
          <li class="card">
            <%= link_to character_path(character), class: 'card-link' do %>
              <div class="card">
                  <% if character.photo.attached? %>
                    <%= cl_image_tag character.photo.key, alt: "text" %>
                  <% else %>
                      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="<%= character[:name] %>">
                  <% end %>
                  <div class="card-info">
                      <h3><%= character.name %></h3>
                      <p><%= character.univers %></p>
                      <p class="price"><%= character.price %>$/day</p>
                  </div>
              </div>
            <% end %>
          <% end %>
          <% else %>
          <p class="text-center"><%= "Sorry, '#{params[:query]}' is not available" %> <i class="fa-regular fa-face-sad-cry"></i></p>
        <% end %>
      </li>
    </ul>


  </div>
  <div class="map-container">
    <div class="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const browseButton = document.querySelector('a[href="#browse"]');

  browseButton.addEventListener("click", function(event) {
    event.preventDefault();
    const targetElement = document.querySelector("#browse");
    const offset = targetElement.getBoundingClientRect().top - 100;
    window.scrollTo({
      top: offset,
      behavior: 'smooth'
    });
  });
});
</script>
