<div class="banner">
  <div class="container">
    <h1 class="fs-1 mb-3">MythicMates</h1>
    <div class="d-flex flex-column align-items-center">
      <p class="mb-5">Who do you feel like today?</p>
      <a href="#browse" class="btn btn-ghost mt-5" >Browse</a>
    </div>
  </div>
</div>

<div class="mx-5 mt-5 mb-3" id="browse">
  <%= render 'form_filters', characters: @characters %>
</div>

<div class="d-flex justify-content-start align-items-center mb-3 mx-5">
  <p class="mt-3 mx-3">Sort by:</p>
  <%= link_to "Best reviews", characters_path(r_asc: true), class: "btn btn-filters" %>
  <%= link_to "Worst reviews", characters_path(r_desc: true), class: "btn btn-filters"%>
  <%= link_to "Ascending prices", characters_path(asc: true), class: "btn btn-filters" %>
  <%= link_to "Descending prices", characters_path(desc: true), class: "btn btn-filters"%>
</div>

<div class="content">
  <div class="cards-container">
      <% if @characters.any? %>
    <ul>
        <% @characters.each do |character| %>
          <li class="card">
            <%= link_to character_path(character), class: 'card-link' do %>
              <div class="card">
                  <% if character.photo.attached? %>
                    <%= cl_image_tag character.photo.key, alt: "text" %>
                  <% else %>
                      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="<%= character[:name] %>" class="card_img">
                  <% end %>
                  <div class="card-info">
                      <h3><%= character.name %></h3>
                      <p><%= character.univers %></p>
                      <p class="price"><%= character.price %>$/day</p>
                  </div>
              </div>
            <% end %>
          <% end %>
          <% else %>
          <p class="text-center"><%= "Sorry, '#{params[:query]}' is not available" %> <i class="fa-regular fa-face-sad-cry"></i></p>
        <% end %>
      </li>

      <% if Review.any? %>
  <div class="col m-5 border rounded-4 p-4 shadow">
    <p><strong>Some reviews:</strong></p>
    <% reviews = Review.all.sample(3) %>
<% reviews.each_with_index do |review, index| %>
  <div class="d-flex m-3 <%= reviews.length == index + 1 ? '' : 'border-bottom' %>">
    <div class="mx-3 align-center">
    <% if review.character.user.photo.attached? %>
      <%= cl_image_tag review.character.user.photo.key, alt: "text", height: 50, width: 50, class: "rounded-circle object-fit-cover" %>
    <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="<%= review.character[:name] %>">
    <% end %>
    </div>
    <div>
    <%= review.user.first_name %> about <%= review.character.name %>:<br>
    <em><%= review.content %></em>
    </div>
  </div>
<% end %>
</div>
<% end %>

    </ul>


  </div>

  <% if params[:query].present? %>
  <div class="map-container d-none">
    <div class="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <% else %>
  <div class="map-container">
    <div class="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <% end %>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const browseButton = document.querySelector('a[href="#browse"]');
  browseButton.addEventListener("click", function(event) {
    event.preventDefault();
    const targetElement = document.querySelector("#browse");
    const offset = targetElement.getBoundingClientRect().top - 100;
    window.scrollTo({
      top: offset,
      behavior: 'smooth'
    });
  });
});
</script>
