<div class="container">
<h1>All our Characters</h1>
<p>You searched for <%= params[:input] %>. We found out <%= @characters.count %> of our <%= Character.all.count %> on our website</p>

<% @characters.each do |character| %>
  <div class="container col-3 border grid grid-cols-3">
    <img class="img-thumbnail" src="<%= character.photo_url %>" alt="<%= character.name %>">
    <h2><%= character.name %></h2>
    <p> Location : <%= character.location %><br>
        Price : <%= character.price %><br>
        From : <%= character.from %></p>
    <%= link_to "More info", character_path(character) %>
   </div>
 <% end %>
</div>
