<div class="container">
  <div class="row">
    <div class="col">

    <h1><%= @character.name  %></h1>
    <p>from <%= @character.from %></p>

    <img src="photo_url" alt="">

<<<<<<< HEAD
    <p><%= @character.location %></p>
    <p><%= @character.price %> dollars</p>
=======
<p><%= @character.location %></p>
<p><%= @character.price %> dollars</p>
>>>>>>> master

    <p><%= @character.skills %></p>

<<<<<<< HEAD
    <p>
    <%= link_to "Edit your character", edit_character_path(@character), class: "btn btn-ghost" %> |
    <%= link_to "Back to list", characters_path, class: "btn btn-ghost" %> |
    <%= link_to "Book now", "#", class: "btn btn-ghost" %>
    </p>
=======
<p>
<%= link_to "Edit your character", edit_character_path(@character), class: "btn btn-ghost" %> |
<%= link_to "Back to list", characters_path, class: "btn btn-ghost" %> |
<%= link_to "Book now", "#", class: "btn btn-ghost" %>
</p>
>>>>>>> master

    </div>
  </div>
</div>
