<div class="container">
  <div class="m-5">
    <div class="col">

      <%= link_to "Back to list", characters_path, class: "btn btn-ghost mb-3" %>

      <h1><%= @character.name  %></h1>

      <div class="d-flex">
        <div class="d-flex col m-5 border rounded-4 p-4 shadow">
            <div class="card">
              <% if @character.photo.attached? == true %>
                <%= cl_image_tag @character.photo.key, alt: "text" %>
              <% else %>
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="<%= @character[:name] %>">
              <% end %>
            </div>


          <div class="ms-4 mt-3">
              <p><strong>from <%= @character.univers %></strong></p>
              <p><i class="fa-solid fa-location-dot"></i> <%= @character.location %></p>
              <p><i class="fa-solid fa-money-bill-wave"></i> <%= @character.price %> dollars / day</p>
              <p><i class="fa-solid fa-brain"></i> <%= @character.skills %></p>
          </div>
          <% if @character.user != current_user %>
            <div class="col-4 m-5 border rounded-4 p-4 shadow">
            <%= render "/bookings/form", booking: Booking.new, character: @character %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="mx-auto mb-3">
    <% if @character.user == current_user %>
      <%= render "modal" %>
      <p><%= link_to "Edit your character", '#', {:remote => true, 'data-bs-toggle' =>  "modal", 'data-bs-target' => '#editcharacter', class: "btn btn-large"} %></p>
      <%= link_to 'Delete', character_path(@character),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-ghost btn-ghost:hover" %>
    <% else %>
      <p><%= link_to "Book now", new_character_booking_path(@character), class: "btn btn-large" %></p>
      <p><%= link_to "Add a new review", new_character_review_path(@character), class: "btn btn-primary" %></p>
    <% end %>
</div>

<div class="col m-5 border rounded-4 p-4 shadow">
  <p><strong>Reviews:</strong></p>
  <% if @character.reviews != nil %>
    <% @character.reviews.each do |review| %>
      <div class="border-bottom">
        <%= review.user.first_name %>
        <%= review.content %>
      </div>
    <% end %>
  <% else %>
    <p>No reviews yet</p>
  <% end %>
</div>
