<div class="container">
  <div class="row mt-5">
    <div class="col">

    <h1><%= @character.name  %></h1>
    <p>from <%= @character.from %></p>

    <img src="photo_url" alt="">


    <p><i class="fa-solid fa-location-dot"></i> <%= @character.location %></p>
    <p><i class="fa-solid fa-money-bill-wave"></i> <%= @character.price %> dollars / day</p>

    <p><i class="fa-solid fa-brain"></i> <%= @character.skills %></p>

    <p>
    <%= link_to "Back to list", characters_path, class: "btn btn-ghost" %> |
      <% if @character.user == current_user %>
        <%= link_to "Edit your character", edit_character_path(@character), class: "btn btn-ghost" %>
      <% else %>
        <%= link_to "Book now", new_character_booking_path(@character), class: "btn btn-ghost" %>
      <% end %>
    </p>



    </div>
  </div>
</div>
