<div class="container">
  <div class="m-5">
    <div class="col">
      <%= link_to "Back to list", characters_path, class: "btn btn-ghost mb-3" %>
        <h1><%= @character.name  %></h1>

      <div class="d-flex">
        <div class="d-flex col m-5 border rounded-4 p-4 shadow">
            <div class="card big_img">
              <% if @character.photo.attached? == true %>
                <%= cl_image_tag @character.photo.key, alt: "text" %>
              <% else %>
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="<%= @character[:name] %>">
              <% end %>
            </div>

            <div class="ms-4 mt-3">
              <p><strong>from <%= @character.univers %></strong></p>
                <div class="mt-25">
                  <p><i class="fa-solid fa-location-dot"></i> <%= @character.location %></p>
                  <p><i class="fa-solid fa-money-bill-wave"></i> <%= @character.price %> dollars / day</p>
                  <p><i class="fa-solid fa-brain"></i> <%= @character.skills %></p>
                </div>
            </div>
          </div>

          <% if @character.user != current_user %>
            <div class="col-4 m-5 border rounded-4 p-4 shadow">
              <%= render "/bookings/form", booking: Booking.new, character: @character %>
            </div>
          <% end %>
      </div>
    </div>
  </div>

  <div class="col-9 mx-auto mb-3">
    <%= render "characters/modal", review: @review, open: @review_modal_open %>
      <% if @character.user == current_user %>
        <div class="d-flex justify-content-between"><%= link_to "Edit your character", '#', {:remote => true, 'data-bs-toggle' =>  "modal", 'data-bs-target' => '#editcharacter', class: "col-6 btn btn-large"} %>
          <%= link_to 'Delete', character_path(@character),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "col-3 btn btn-ghost btn-ghost:hover" %>
        </div>
      <% else %>
        <div class="d-flex justify-content-center">
        <%= link_to "Add review", '#', {:remote => true, 'data-bs-toggle' =>  "modal", 'data-bs-target' => '#addreview', class: "btn btn-large btn-large:hover"} %>
        </div>
      <% end %>
  </div>

  <div class="col m-5 border rounded-4 p-4 shadow">
    <p><strong>Reviews </strong><i class="fa-solid fa-star"></i></p>
    <% if @character.reviews.any? %>
      <% @character.reviews.each_with_index do |review, index| %>
        <div class="d-flex m-2 my-3 <%= @character.reviews.length == index + 1 ? '' : 'border-bottom' %>">
          <div class="mx-3 align-center">
            <% if review.character.user.photo.attached? %>
              <%= cl_image_tag review.character.user.photo.key, alt: "text", height: 50, width: 50, class: "rounded-circle object-fit-cover" %>
            <% else %>
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="<%= review.character[:name] %>">
            <% end %>
          </div>
          <div>
            <% if review.reco == true %>
              <p><strong><%= review.user.first_name %> <i class="fa-solid fa-thumbs-up"></i><br></strong>
            <% else %>
              <p><strong><%= review.user.first_name %> <i class="fa-solid fa-thumbs-down"></i><br></strong>
            <% end %>
            <%= review.content %></p>
          </div>
        </div>
      <% end %>
    <% else %>
        <p>No reviews yet</p>
    <% end %>
  </div>

</div>
