<div class="container">
  <div class="row m-5">
    <div class="col">
    <%= link_to "Back to list", characters_path, class: "btn btn-ghost mb-5" %>

    <h1><%= @character.name  %></h1>
    <p>from <%= @character.from %></p>

    <img src="photo_url" alt="">

    <p><i class="fa-solid fa-location-dot"></i> <%= @character.location %></p>
    <p><i class="fa-solid fa-money-bill-wave"></i> <%= @character.price %> dollars / day</p>

    <p><i class="fa-solid fa-brain"></i> <%= @character.skills %></p>

    <div class="row m-5">
      <% if @character.user == current_user %>
        <%= link_to "Edit your character", edit_character_path(@character), class: "btn btn-ghost" %>
      <% else %>
        <%= link_to "Book now", new_character_booking_path(@character), class: "btn btn-ghost" %>
      <% end %>
    </div>
  </div>


    </div>
  </div>
</div>
