<div class="container">
  <div class="row m-5">
    <div class="col">

      <%= link_to "Back to list", characters_path, class: "btn btn-ghost mb-3" %>

      <h1><%= @character.name  %></h1>

      <div class="d-flex mt-5 border rounded-4 p-4 shadow">
          <div class="card">
            <% if @character.photo.attached? == true %>
              <%= cl_image_tag @character.photo.key, alt: "text" %>
            <% else %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="<%= @character[:name] %>">
            <% end %>
          </div>

          <div class="ms-4 mt-3">
              <p><strong>from <%= @character.from %></strong></p>
              <p><i class="fa-solid fa-location-dot"></i> <%= @character.location %></p>
              <p><i class="fa-solid fa-money-bill-wave"></i> <%= @character.price %> dollars / day</p>
              <p><i class="fa-solid fa-brain"></i> <%= @character.skills %></p>
          </div>
        </div>

    </div>
  </div>
</div>

<div class="mx-auto mb-3">
    <% if @character.user == current_user %>
      <p><%= link_to "Edit your character", edit_character_path(@character), class: "btn btn-large" %></p>
    <% else %>
      <p><%= link_to "Book now", new_character_booking_path(@character), class: "btn btn-large" %></p>
    <% end %>
</div>
